.taskList {
	list-style: none;
	padding: 0;
}

.taskItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
